Though the feed URL that your timeline is available under is not guessable, you
may inadvertedly "leak" it if you are not careful. For example, emailing an item
from your timeline feed in Google Reader exposes the feed URL.