{% extends "base/page.html" %}

{% block title %}{{ APP_NAME }} : Bird Feeder{% endblock %}
{% block subtitle %}Bird Feeder{% endblock %}

{% block bodystart %}
  <div id="retired-tool-cover"></div>
{% endblock %}

{% block intro %}
  {% include "intro.snippet" %}
{% endblock %}

{% block body %}

<p>To get started, sign in with Twitter to allow Bird Feeder access to your
tweets.</p>

<div id="birdfeeder-sign-in">
  <a href="{{ sign_in_path }}">
    <img src="/static/twitter-sign-in.png" width="151" height="24" alt="Sign in with Twitter">
  </a>
</div>
{% endblock %}


{% block footer %}
  <p>{% include "footer.snippet" %}</p>
{% endblock %}
