{% extends "base/page.html" %}

{% block title %}{{ APP_NAME}} : Bird Feeder{% endblock %}
{% block subtitle %}Bird Feeder{% endblock %}

{% block intro %}
  {% include "intro.snippet" %}

  <p>You're signed in as {{ twitter_user.screen_name}}.
  <a href="{{ sign_out_path }}">Sign out</a>.</p>
{% endblock %}

{% block body %}

<div id="birdfeeder-feed-container">
  {% if allows_feed_updates %}
    <a href="{{ timeline_feed_url }}" class="feed-link">@{{ twitter_user.screen_name }} timeline feed</a>
  {% endif %}
</div>

<p>
  <a href="https://twitter.com/{{ twitter_user.screen_name }}">@{{ twitter_user.screen_name }}</a> Twitter data backups:
  <ul>
    <li>
      Tweets: <a href="{{ backup_path }}?content=tweets&format=html">HTML</a>, <a href="{{ backup_path }}?content=tweets&format=json">JSON</a>
    </li>
    <li>
      Likes: <a href="{{ backup_path }}?content=likes&format=html">HTML</a>, <a href="{{ backup_path }}?content=likes&format=json">JSON</a>
    </li>
  </ul>
</p>

{% endblock %}


{% block footer %}
  {% if allows_feed_updates %}
  {% include "footer.snippet" %}

  If that happens, you may wish to <span class="link"
  id="birdfeeder-reset-feed-id">reset</span> your feed URL (the old items will
  still be cached by Reader under the old URL, but new items will only come in
  on the new URL).
  {% endif %}

  <script>onload = () => streamspigot.birdfeeder.init();</script>
{% endblock %}
