{% extends "base/page.html" %}

{% block title %}{{ APP_NAME}} : Bird Feeder{% endblock %}
{% block subtitle %}Bird Feeder{% endblock %}

{% block intro %}
  {% include "intro.snippet" %}

  <p>You're signed in as {{ twitter_user.screen_name}}.
  <a href="{{ sign_out_path }}">Sign out</a>.</p>
{% endblock %}

{% block body %}

<div id="birdfeeder-feed-container">
  <a href="{{ timeline_feed_url }}" class="feed-link">@{{ twitter_user.screen_name }} timeline feed</a>
</div>
{% endblock %}


{% block footer %}
  {% include "footer.snippet" %}

  If that happens, you may wish to <span class="link"
  id="birdfeeder-reset-feed-id">reset</span> your feed URL (the old items will
  still be cached by Reader under the old URL, but new items will only come in
  on the new URL).

  <script>streamspigot.birdfeeder.init();</script>
{% endblock %}
