<p>This <a href="/">{{ APP_NAME }}</a> tool lets you subscribe to your Twitter
timeline in a feed reader such as NetNewsWire. By signing in with your
Twitter account, you enable Bird Feeder to generate a feed under a "secret"
URL that will contain the tweets of all the people that you follow.</p>

<p>As a bonus for these uncertain times, it can also generate a backup of your
tweets and favorites.</p>
