div,table {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background: #8AA7FF;
  font-family: sans-serif;
  font-size: 10pt;
}

a {
  color: #2DB300;
}

h1 {
  text-align: center;
  margin: 0 auto 1em auto;
  background: #7094FF;
  width: 550px;
  padding: 0.5em 0.3em;
  color: #666;
}

#setup-table {
  margin: 0 auto;
}

#setup-table #list-column,
#setup-table #usernames-column {
  width: 250px;
  vertical-align: top;
}

#setup-table #or-column {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: #272e40;
}

#setup-table fieldset {
  border-width: 1px 0 0 0;
  border-color: #6c80b2;
  border-style: solid;
}

#setup-table legend {
  color: #333;
  padding: 0 1em;
}

#usernames button {
  border: 0;
  background: #eee;
  font-weight: bold;
  width: 1.6em;
  text-align: center;
  height: 1.7em;
  padding: 0 0.1em 0.1em 0.1em;
  color: #8AA7FF;
  cursor: pointer;
}

#usernames button[disabled] {
  background: #7094FF;
  cursor: default;
}

.hidden {
  display: none;
}

#digest-links,
#digest-empty {
  margin-top: 1em;
}

#intro .inner,
#footer .inner {
  text-align: left;
}

#intro .symbol {
  margin-top: 0.5em;
  color: #333;
}

.inner {
  background: #f6f6f6;
  width: 550px;
  padding: 0.5em;
  margin: 0 auto;
}

.feed-icon {
  vertical-align: text-bottom;
}

.symbol {
  font-weight: bold;
  font-size: 200%;
  margin: 0;
  padding: .1em;
  height: 1.5em;
}	  

#digest-links .symbol {
  color: #333;
}

#digest-empty .symbol {
  color: red;
}

#footer {
  margin-top: 2em;
}

#footer .inner {
  background: #cad8fb;
}

#footer p {
  margin: 0;
}

#footer p:first-child {
  margin-bottom: 1em;
}