div, table, form {
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #cddcff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10pt;
}

a, .link {
  color: #2db300;
  text-decoration: underline;
  cursor: pointer;
}

.feed-link {
  padding-left: 17px;
  background: url(/static/feed-icon.png) no-repeat;
}

.hidden {
  display: none;
}

.block {
  padding: 2em;
}

.block p {
  line-height: 1.5em;
  margin: 1em 0;
}

.block p:first-child {
  margin-top: 0;
}

.block p:last-child {
  margin-bottom: 0;
}

#header {
  min-height: 194px;
  background: url(/static/header-background.png) repeat-x;
  position: relative;
}

#title {
  display: block;
  width: 100%;
  height: 194px;
  background: url(/static/header.png) no-repeat center top;
}

#title h1 {
  display: none;
}

#subtitle {
  position: absolute;
  right: 50%;
  margin-right: -75px;
  top: 136px;
  text-align: right;
  font-size: 32px;
  font-weight: bold;
  color: #32bc00;
}

#subsubtitle {
  font-size: 14px;
  font-weight: normal;
}

#container {
  width: 625px;
  margin: 2em auto 0; 
}

#intro {
  margin-bottom: 2em;
  background: #f6f6f6;
}

#footer {
  margin-top: 5em;
  background: #dde8ff;  
}

#tweetdigest-setup-table {
  margin: 0 auto;
}

#tweetdigest-list-column,
#tweetdigest-usernames-column {
  width: 250px;
  vertical-align: top;
  text-align: center;  
}

#tweetdigest-or-column {
  padding-left: 1em;
  padding-right: 1em;
  font-weight: bold;
  color: #272e40;
}

#tweetdigest-setup-table fieldset {
  border-width: 1px 0 0 0;
  border-color: #9bb9ff;
  border-style: solid;
}

#tweetdigest-setup-table legend {
  color: #333;
  padding: 0 1em;
  text-align: center;  
}

#twitter-lists {
  width: 90px;
}

#usernames button {
  border: 0;
  background: #eee;
  font-weight: bold;
  width: 1.6em;
  text-align: center;
  height: 1.7em;
  padding: 0 0.1em 0.1em 0.1em;
  color: #8aa7ff;
  cursor: pointer;
}

#usernames button[disabled] {
  opacity: 0.3;
  cursor: default;
}

#digest-links,
#digest-empty {
  margin-top: 1em;
  text-align: center;  
}

.feed-icon {
  vertical-align: text-bottom;
}

.symbol {
  color: #333;
  font-weight: bold;
  font-size: 200%;
  margin: 0;
  padding: .1em;
  height: 1.5em;
  text-align: center;
}

#digest-links .symbol {
  color: #333;
}

#digest-empty .symbol {
  color: red;
}

#tools {
  overflow: hidden;
  width: 480px;
  margin: 0 auto;
}

.tool {
  clear: both;
  display: block;
  text-decoration: none;
  width: 360px;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  background: #f6f6f6;
  text-align: center;
  position: relative;
}

.tool:before {
  display: block;
  width: 10px;
  height: 20px;
  background: #f6f6f6;
  content: " ";
  position: absolute;
  top: -20px;
}

.tool:first-child:before {
  display: none;
}

.tool.even {
  float: left;
}

.tool.even:before {
  right: 60px;
}

.tool.odd {
  float: right;
}

.tool.odd:before {
  left: 40px;
}

.tool:hover {
  background: #fff;
}

.tool.coming-soon {
  opacity: 0.4;
}

.tool h2 {
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  color: #2db300; 
  margin: 0 0 .25em 0;
}

.tool p {
  margin: 0;
  color: #000;
}

#feedplayback-setup-table {
  margin: 0 auto .5em auto;
  border-collapse: collapse;
  border-spacing: 0;
}

#feedplayback-setup-table td {
  padding: 3px;
}

#feedplayback-setup-table .label {
  text-align: right;
}

#feedplayback-result p {
  text-align: center;
}

#feedplayback-url,
#feedplayback-start-date {
  margin: 0;
  padding: 2px 1px;
}

#feedplayback-url {
  width: 30em;
}

#feedplayback-status-row td {
  padding-top: 0;
}

#feedplayback-status,
#feedplayback-first-item,
#feedplayback-first-item a {
  color: #4d5c7f;  
}

#feedplayback-setup-table.disabled #feedplayback-enabled-symbol,
#feedplayback-setup-table.enabled #feedplayback-disabled-symbol {
  display: none;
}

#feedplayback-enabled-symbol {
  color: #333;
}

#feedplayback-disabled-symbol,
#feedplayback-error .symbol {
  color: red;
}