<p>This is a feed playback for the
<a href="{{ feed_url }}">{{ feed_title }}</a> feed.</p>

<p>The first item appears below, and after this a new item will appear
{{ frequency }} (there will be {{ item_count }} items total).</p>

<p>See <a href="{{ subscription_html_url }}">this page</a> more
information about feed playback.</p>
