<div style="color:{{ BUBBLE_TEXT_COLOR }}">
  {% if grouped_statuses %}
    {% for status_group in grouped_statuses %}
      {% with '1.5em' as bottom_margin %}
        {% include 'base/status-group.snippet' %}
      {% endwith %}
    {% endfor %}
  {% else %}
    <div style="padding:0.5em">
      No updates for this day.
    </div>
  {% endif %}
</div>
