{% extends "base/page.html" %}

{% block title %}{{ APP_NAME }} : Legacy Tweet Digest{% endblock %}
{% block subtitle %}Legacy Tweet Digest{% endblock %}

{% block intro %}
<p>You have been redirected from a <code>twitter-digest.appspot.com</code> URL.
That application is no longer running.</p>

<p>If you still wish to get a digest of
tweets, you can do at this URL:<br>
<a href="{{ digest_url }}">{{ digest_url }}</a></p>
{% endblock %}


{% block footer %}
<p>To create a new digest, see the
<a href="{{ APP_URL }}/tweet-digest">Tweet Digest tool</a> on
<a href="{{ APP_URL }}">{{ APP_NAME }}</a>.</p>
{% endblock %}
