<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{ APP_NAME|escape }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/static/closure-lite.js"></script>
	<script src="/static/main.js"></script>
	{% block head %}{% endblock %}
</head>
<body>

<div id="header">
  <a href="/" id="title"><h1>{{ APP_NAME|escape }}</h1></a>
  <div id="subtitle">
    {% block subtitle %}{% endblock %}
    <div id="subsubtitle">{% block subsubtitle %}{% endblock %}</div>
  </div>
</div>

<div id="container">
  <div id="intro" class="block">
    {% block intro %}{% endblock %}
  </div>
  
  {% block body %}{% endblock %}
  
  <div id="footer" class="block">
    {% block footer %}{% endblock %}
  </div>
</div>

</body>
</html>
