<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8">
	<title>{% block title %}{{ APP_NAME|escape }}{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="/static/main.js"></script>
	{% block head %}{% endblock %}
</head>
<body>

<div id="container">
  <h1>{% block header %}{{ APP_NAME|escape }}{% endblock %}</h1>
  
  {% block body %}{% endblock %}
  
  <div id="footer">
    <div class="inner">
      {% block footer %}{% endblock %}
    </div>
  </div>
</div>

</body>
</html>
