{% extends "../base/page.html" %}

{% block title %}{{ APP_NAME|escape }}: {{ title|escape }}{% endblock %}

{% block head %}
<link href="{{ feed_url|escape }}"
      rel="alternate"
      title="Twitter Digest Atom Feed"
      type="application/atom+xml">
<script src="/static/main.js"></script>
<link rel="stylesheet" type="text/css" href="/static/main.css">
<base href="http://twitter.com/">
<style type="text/css">
  #footer {
    text-align: center;
  }

  #footer .errors {
    padding: .5em 0;
    background: #fcc;
  }
</style>
{% endblock %}

{% block header %}{{ APP_NAME|escape }}: {{ title|escape }}{% endblock %}

{% block body %}
<div id="content">
  {{ digest_contents }}
</div>
{% endblock %}

{% block footer %}
<p>
  This is a digest of {{ digest_source }}. It is also available <a href="{{ feed_url|escape }}" class="feed-link">as a feed</a>.
</p>
{% if digest_errors %}
  <p class="errors">
    {{ digest_errors }}
  </p>
{% endif %}
<p>To create a new digest, see the
<a href="{{ homepage_url|escape }}">{{ APP_NAME|escape }} homepage</a>.</p>
{% endblock %}
