{% extends "base/page.html" %}

{% block title %}{{ APP_NAME}} : Masto Feeder{% endblock %}
{% block subtitle %}Masto Feeder{% endblock %}

{% block intro %}
  {% include "intro.snippet" %}
{% endblock %}

{% block body %}

<div id="mastofeeder-feed-container" class="block">
  You're signed in as <a href="{{ mastodon_user.url }}">@{{ mastodon_user.username }}</a>
  (<a href="{{ sign_out_path }}">sign out</a>)

    <p>
       Your <a href="{{ timeline_feed_path }}" class="feed-link"><b>@{{ mastodon_user.username }} timeline feed</b></a>
       is ready. You can subscribe to the URL in your preferred feed reader.
    </p>

    {% if lists_and_feed_paths %}
      <p>You can also subscribe to feeds for your lists:</p>
      <ul>
          {% for list, feed_path in lists_and_feed_paths %}
            <li><a href="{{ feed_path }}" class="feed-link">{{ list.title }}</a></li>
          {% endfor %}
      </ul>
    {% else %}
      <p>You don't have any lists, but if you did, you could also subscribe to feeds for them.</p>
    {% endif %}

    <h3>Digests</h3>
    <p>
      You can also get digest feeds for your timeline or lists. These are feeds
      that contains all posts from the past day (UTC); At midnight, a new set of
      posts rolls over. This way you can avoid the distraction of
      constantly-updated feeds, but still not miss anything.
    </p>
    <ul>
      <li><a href="{{ timeline_feed_path }}?mode=digest" class="feed-link">Timeline Digest</a></li>
      {% for list, feed_path in lists_and_feed_paths %}
        <li><a href="{{ feed_path }}?mode=digest" class="feed-link">{{ list.title }} Digest</a></li>
      {% endfor %}
    </ul>
</div>

{% endblock %}


{% block footer %}
  {% include "footer.snippet" %}

  If that happens, you may wish to <span class="link"
  id="mastofeeder-reset-feed-id">reset</span> your feed URLs.

  <script>onload = () => streamspigot.mastofeeder.init();</script>
{% endblock %}
