  <p>This <a href="/">{{ APP_NAME }}</a> tool lets you subscribe to your
  Mastodon timeline and lists in a feedreader such as
  <a href="https://netnewswire.com/">NetNewsWire</a>,
  <a href="https://newsblur.com/">NewsBlur</a>,
  <a href="https://reederapp.com/">Reeder</a> or
  <a href="https://feedly.com/">Feedly</a>.</p>

  <p>By signining in with your Mastodon account, you enable Masto Feeder to
  generate feeds under "secret" URLs that will contain the statuses of
  accounts that you follow or have in a list.</p>
