# To not make it too easy for drive-by users to trigger birdfeeder pings,
# rename this file to pingersecret.py, fillin in a value for the secret key,
# and pass it to the birdfeeder binary with the --stream_spigot_secret command
# line flag.

SECRET = 'SECRET_KEY_GOES_HERE'