{% extends "base/page.html" %}

{% block title %}{{ APP_NAME }} : Masto Feeder{% endblock %}
{% block subtitle %}Masto Feeder{% endblock %}

{% block intro %}

  {% include "intro.snippet" %}

{% endblock %}

{% block body %}

<p>To get started, sign in to your Mastodon instance to allow Masto Feeder
access to your timeline and lists.</p>

<form action="{{ sign_in_path }}" method="POST" id="mastofeeder-sign-in">
  <input type="url" name="instance_url" placeholder="https://mastodon.social" required="" size="30" />
  <input type="submit" value="Sign In">
</form>

{% endblock %}

{% block footer %}
  {% include "footer.snippet" %}
{% endblock %}
