{% extends "base/page.html" %}

{% block title %}{{ APP_NAME }} : Feed Playback{% endblock %}
{% block subtitle %}Feed Playback{% endblock %}

{% block bodystart %}
  <div id="retired-tool-cover"></div>
{% endblock %}

{% block intro %}
  <p>This <a href="/">{{ APP_NAME }}</a> tool lets you read blogs (or
  anything else with an RSS or Atom feed) from the beginning. In addition to
  being useful for newly-discovered blogs with big archives, it also works
  well for <a href="http://sysadvent.blogspot.com/" class="sample-feed">topical</a>
  <a href="http://calendar.perfplanet.com/2010/" class="sample-feed">"advent"</a>
  <a href="http://perladvent.pm.org/2009/" class="sample-feed">blogs</a> or
  if you want to learn
  <a href="http://daily-scala.blogspot.com/" class="sample-feed">something</a>
  <a href="http://52weeksofux.com/" class="sample-feed">new</a>.</p>

  <p>Simply enter the URL of the blog or feed that you wish to play back,
  and (optionally) pick a start date and update frequency if you don't want to
  read it from the beginning. Once the playback is setup, you'll get an Atom
  feed URL that you can subscribe to.</p>
{% endblock %}

{% block body %}
<div class="symbol">&#8675;</div>

<form id="feedplayback-setup-form">
  <table id="feedplayback-setup-table" class="disabled">
    <tr>
      <td class="label"><label for="feedplayback-url">Blog or feed URL:</label></td>
      <td>
        <input id="feedplayback-url">
      </td>
    </tr>
    <tr id="feedplayback-status-row">
      <td class="label"></td>
      <td><div id="feedplayback-status">Enter a URL above</div></td>
    </tr>
    <tr>
      <td colspan="2">
        <div id="feedplayback-disabled-symbol" class="symbol">&empty;</div>
        <div id="feedplayback-enabled-symbol" class="symbol">&#8675;</div>
      </td>
    </tr>
    <tr>
      <td class="label"><label for="feedplayback-start-date" disabled>Playback start date:</label></td>
      <td>
        <input type="date" id="feedplayback-start-date" disabled>
      </td>
    </tr>
    <tr id="feedplayback-first-item" class="hidden">
      <td clas="label"></td>
      <td>
        First item: <b><a id="feedplayback-first-item-title" target="_blank"></a></b>
      </td>
    </tr>
    <tr>
      <td class="label"><label for="feedplayback-frequency">Frequency:</label></td>
      <td>
        <select id="feedplayback-frequency" disabled>
          <option value="1d">One post per day</option>
          <option value="2d">One post every other day</option>
          <option value="7d">One post per week</option>
        </select>
      </td>
    </tr>

    <tr>
      <td class="label"></td>
      <td>
        <input type="hidden" id="feedplayback-feed-url">
        <input type="submit" id="feedplayback-setup" disabled value="Setup feed playback">
      </td>
    </tr>
  </table>
</form>

<div id="feedplayback-result" class="hidden">
  <div class="symbol">&#8675;</div>
  <div class="inner">
    <p>Feed playback has begun. You can:</p>
    <p><a href="" id="feedplayback-subscription-feed-url" class="feed-link">Subscribe to the playback feed</a></p>
    <p><a href="" id="feedplayback-subscription-reader-url">View the playback in Google Reader</a></p>
  </div>
</div>

<div id="feedplayback-error" class="hidden">
  <div class="symbol">&empty;</div>
  <div class="inner">
    <p>
      There was an error setting up feed playback.
      <span class="link" id="feedplayback-error-details-link">Details</span>.
    </p>
    <div id="feedplayback-error-details" class="hidden">
      Status code: <span id="feedplayback-error-details-status"></span><br>
      Response: <pre id="feedplayback-error-details-response"></pre>
    </div>
  </div>
</div>
{% endblock %}


{% block footer %}
  <p>The tool uses Google Reader's feed archive to get data, which means that
  if a blog predates Google Reader (which launched in October 2005) it may
  be missing posts.</p>

  <p>The Atom feed that is generated is a Google Reader tag feed. This means
  that Reader metadata about the original post (who shared or liked it,
  published and crawl date, etc.) is preserved, and content is not duplicated.
  However, you do not have to use Google Reader to subscribe to it, any consumer
  of Atom 1.0 should work just as well.
  <script>streamspigot.feedplayback.init();</script>
  </p>
{% endblock %}
