<p>This is a feed playback for the
<a href="{{ feed_url|escape }}">{{ feed_title|escape }}</a> feed.</p>

<p>The first item appears below, and after this a new item will appear
{{ frequency|escape }} (there will be {{ item_count|escape }} items total).</p>

<p>See <a href="{{ subscription_html_url|escape }}">this page</a> more
information about feed playback.</p>
