<p>This is a feed playback for the
<a href="{{ feed_url|escape }}">{{ feed_title|escape }}</a> feed. It is set
to update {{ frequency|escape }} (it will have {{ item_count|escape }} items
total).</p>

<p>See <a href="{{ subscription_html_url|escape }}">this page</a> more
information about feed playback.</p>
