{% extends "../base/page.html" %}

{% block title %}{{ APP_NAME|escape}} : Feed Playback for {{ feed_title|escape }}{% endblock %}
{% block subtitle %}Feed Playback{% endblock %}
{% block subsubtitle %}for {{ feed_title|escape }}{% endblock %}

{% block intro %}
  <p>This is a feed playback for the
  <a href="{{ feed_url|escape }}">{{ feed_title|escape }}</a> feed. It is set
  to update {{ frequency|escape }}. It is currently at item
  {{ position|escape }} of {{ item_count|escape }}.</p>
  
  <p>You can subscribe to
    <a href="{{ subscription_feed_url|escape }}" class="feed-link">the playback feed</a>
    (<a href=" {{ subscription_reader_url|escape }}">view in Google Reader</a>).
  </p>
{% endblock %}

{% block footer %}
<p>To play back another feed, see the
<a href="{{ APP_URL|escape }}/feed-playback">Feed Playback tool</a> on
<a href="{{ APP_URL|escape }}">{{ APP_NAME|escape }}</a>.</p>
{% endblock %}
