{% extends "base/page.html" %}

{% block header %}
{{ APP_NAME|escape }}
<div id="subtitle">Flow control for the real-time web firehose</div>
{% endblock %}

{% block body %}
<div id="intro">
  <div class="inner">
    <p>{{ APP_NAME|escape }} is a collection of tools that let you keep up with
    the "real-time web" better. Instead of living in fear of missing something,
    these tools let you consume information at your desired pace in efficient
    batches.</p>
  </div>
</div>
    
<div id="tools">
  <a href="/twitter-digest/" class="tool">
    <h2>Twitter Digest</h2>
    <p>Read Tweets in daily batches</p>
  </a>
  
  <a href="/feed-playback/" class="tool">
    <h2>Feed Playback</h2>
    <p>Start reading a blog from<br>the very beginning</p>
  </a>
  
  <a href="#" class="tool coming-soon">
    <h2>"Best of" Feed</h2>
    <p>Only the top posts in a feed (coming soon)</p>
  </a>
</div>
{% endblock %}

{% block footer %}
<p>
  {{ APP_NAME|escape }} was created by <a href="http://persistent.info">Mihai
  Parparita</a>, who can be reached at <script>printEmail();</script>. To keep
  up with {{ APP_NAME|escape }} developments, you can
  <a href="http://twitter.com/streamspigot">follow us on Twitter</a>.
</p>

<p>
  <a href="https://github.com/mihaip/streamspigot">Source is available</a>
  on <a href="https://github.com/">GitHub</a>.
</p>

<p>
  The app was formerly known as "Twitter Digest" but was renamed due to
  plans to increase its scope and to comply with Twitter's
  <a href="http://support.twitter.com/articles/77641">trademark
  guidelines</a>.
</p>

{% endblock %}
