{% extends "base/page.html" %}

{% block intro %}
  <p>
    {{ APP_NAME }} is a collection of tools that let you keep up with
    the "real-time web" better (think
    <a href="http://en.wikipedia.org/wiki/Transmission_Control_Protocol#Flow_control">flow control</a>).
    Instead of living in fear of missing something, these tools let you consume
    information at your desired pace in efficient batches.
  </p>
{% endblock %}

{% block body %}
<div id="tools">
  <a href="/tweet-digest/" class="tool even">
    <h2>Tweet Digest</h2>
    <p>Read tweets in daily batches</p>
  </a>

  <a href="/bird-feeder/" class="tool odd">
    <h2>Bird Feeder</h2>
    <p>Keep up with tweets in your favorite feed reader</p>
  </a>

  <a href="/masto-feeder/" class="tool even">
    <h2>Masto Feeder</h2>
    <p>Keep up with Mastodon posts in your favorite feed reader</p>
  </a>
</div>

{% endblock %}

{% block footer %}
<p>
  Retired tools:
</p>

<ul>
  <li><a href="/feed-playback/">Feed Playback</a>: Allowed you to start reading
  a blog (or any other feed) from the very beginning. Used the Google Reader
  feed cache to provide archived feed data, and thus stopped working when
  <a href="http://googlereader.blogspot.com/2013/07/a-final-farewell.html">Google
  Reader was shut down</a>.</li>
</ul>

<p>
  {{ APP_NAME }} was created by <a href="https://persistent.info">Mihai
  Parparita</a>, who can be reached at <a id="email"></a>. To keep
  up with {{ APP_NAME }} developments, you can
  <a href="http://twitter.com/streamspigot"><img src="/static/twitter-icon.png" width="16" height="16" alt="" style="vertical-align: top; padding-right: 1px;">follow us on Twitter</a>.
</p>

<p>
  <a href="https://github.com/mihaip/streamspigot">Source is available</a>
  on <a href="https://github.com/">GitHub</a>.
</p>
  <script>onload = () => streamspigot.main.init();</script>
{% endblock %}
