{% extends "base/page.html" %}

{% block body %}
<div id="intro">
  <div class="inner">
    <p>{{ APP_NAME|escape }} lets you read <a href="http://twitter.com">Twitter</a> 
    updates in a more manageable fashion. Just pick the usernames you'd like
    to generate a digest for, and you will see all updates made by them during 
    the past full day (GMT). At midnight, a new set of updates rolls over.</p>
    
    <p>The digest is available as both a webpage that you can 
    visit periodically, or as an Atom feed that you subscribe to get updates
    (grouped as one feed item) in your favorite feed reader.</p>
    
    <p>To get started, either choose a
    <a href="http://support.twitter.com/articles/247929">Twitter list</a> or
    enter one or more Twitter usernames below (one username per line) and use
    the links that will appear at the bottom.</p>
  </div>
  
  <div class="symbol">&#8675;</div>
</div>

<table id="setup-table">
  <td id="list-column">
    <fieldset>
      <legend>Twitter list</legend>
      <input type="text" id="twitter-list-owner" placeholder="Username">
      <select id="twitter-lists" disabled>
          <option disabled>Lists</option>
      </select>
    </fieldset>
  </td>
  <td id="or-column">or</td>
  <td id="usernames-column">
    <fieldset>
      <legend>Twitter usernames</legend>
      <div id="usernames">
        <div class="row">
          <input type="text" class="username"  placeholder="Username">
          <button class="remove">-</button>
          <button class="add">+</button>
        </div>
      </div>
    </fieldset>
  </td>
</table>


<div id="digest-links" class="hidden">
  <div class="symbol">&#8675;</div>

  <div class="inner">
    Your digest is available as both 
    <a href="" id="digest-html-link" target="_blank">a web page</a>
    and as 
    <a href="" id="digest-feed-link" target="_blank" class="feed-link">a feed</a>.
  </div>
</div>

<div id="digest-empty">
  <div class="symbol">&empty;</div>

  <div class="inner">
    You must select a Twitter list or at least one Twitter user to create a digest for.
  </div>
</div>
{% endblock %}

{% block footer %}
<p>
  {{ APP_NAME|escape }} was created by <a href="http://persistent.info">Mihai
  Parparita</a>, who can be reached at <script>printEmail();</script>. 
  <a href="https://github.com/mihaip/streamspigot">Source is available</a>
  on <a href="https://github.com/">GitHub</a>.
</p>

<p>
  The app was formerly known as "Twitter Digest" but was renamed due to
  plans to increase its scope and to comply with Twitter's
  <a href="http://support.twitter.com/articles/77641">trademark
  guidelines</a>.
</p>

<script>init();</script>

{% endblock %}
